body{
    background-color: #439899;
    text-align: center;
    text-transform: uppercase;
}

    

.contenedor{
    width: 60%;
    height: 480px;
    background: #155;
    margin: 0 auto;
    border: 2% solid #000; /* Profesora usted se preguntara el porque aca lo deje en un 2 el solid porque me estaba quedanto un borde que intentaba he intentaba y no me quitaba por eso baje el splid a 2*/

    border-radius: 4px;
}

.contenedor{
    background: rgba(10, 28,16, 6);
    width: 60%;
    height: 480px;
    background: #155;
}

.contenedor{
    background: rgba(10, 28,16, 6);
    width: 100vh; 
    height: 480px;
    background: none; /* y basicamente aca le quite el color porque era la parte en la que no podia quitar el borde y fue la solucion mas oportuna que logre encontrar */

    
}

.col-a{
    width: 60px;
	z-index: 100;
    float: left;

}

.blanco{
	width: 60px;
	height: 60px;
	background: white;
}

.negro{
    width: 60px;
	height: 60px;
    background: black;
}

.ficha-black{
    font-size: 50px;
    color: red;
}

.ficha-white{
    font-size: 50px;
    color: blue;
}